services:
  - type: web
    name: owlbear-landofeem-sheet
    runtime: static
    buildCommand: npm run build
    staticPublishPath: ./dist
    headers:
      - path: /*
        name: Access-Control-Allow-Origin
        value: "*"
